@{
    ViewBag.Title = "Kullanıcı Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2>Kullanıcı Paneli</h2>

<p>Hoş geldiniz, @ViewBag.Username!</p>
<p>Rolünüz: @ViewBag.Role</p>

<a href="@Url.Action("Logout", "Account")" class="btn btn-danger">Çıkış Yap</a>
